# Ignore Terraform's working directory
**/.terraform/

# Ignore local state files (if not using a remote backend)
**/*.tfstate
**/*.tfstate.*

# Ignore crash logs
**/crash.log

# Ignore Terraform variable files (optional, if they contain sensitive data)
**/*.tfvars
**/*.tfvars.json

**/.terraform.lock.hcl

**/interfacer-devops-staging/.vault_pass
**/interfacer-devops-staging/sshkey
**/interfacer-devops-staging/inventory/hosts.yml
